<h1>Dashboard</h1>
<div class="row">
    
    <div class="col-lg-6">
        <h2>Pomodoros</h2> 
        <canvas baseChart
        [datasets]="pomodoroChartData"
        [labels]="pomodoroChartLabels"
        [options]="pomodoroChartOptions"
        [colors]="pomodoroChartColors"
        [legend]="pomodoroChartLegend"
        [chartType]="pomodoroChartType"
        [plugins]="pomodoroChartPlugins">
      </canvas>
    </div>

    <div class="col-lg-6">
      <h2>Tasks</h2> 
      <canvas baseChart
      [datasets]="taskChartData"
      [labels]="taskChartLabels"
      [options]="taskChartOptions"
      [colors]="taskChartColors"
      [legend]="taskChartLegend"
      [chartType]="taskChartType"
      [plugins]="taskChartPlugins">
    </canvas>
  </div>
    <!-- <div class="col-lg-6">
        <h2>Piechart</h2> 
        <canvas baseChart       
        [colors]="pieColors"
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas> -->

    <!-- </div>
    <div class="col-lg-12">
      <h2>Barchart</h2> 
      <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas></div> -->
</div>
