.timer {

    max-width: 1200px;
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
}
.countdown {
  font-size: 150px;
  line-height: 190px;

}
.buttons {
  font-size: 20px;
  line-height: 30px;
  display: block;

  button {
    color: var(--primary);
    background-color: #fafafa;
    width: 100px;
    margin-left: 3px;
    margin-right:3px;
  }
  button:hover {
    background-color: var(--secondary);
  }
}

.small-break {
  background-color: var(--secondary);

  button{
    color: var(--secondary);
  }


  button:hover{
    box-shadow: 0 0 0 0.2rem var(--primary);
  }
}
.big-break {
  background-color: var(--info);

  button {
    color: var(--info)
  }
  button:hover{
    box-shadow: 0 0 0 0.2rem var(--info);
  }
}
.work {
  background-color: var(--success);
  button:hover{
    color: var(--success);
  }
  button{
    color: var(--success);
  }
}


// .settings-button{
//   position: absolute;
//   color: white
// }

.settings-button{
  position: absolute;
  color: white
}

.settings-button:hover{
  color: #eee;
}
