<h1>Calendar</h1>
<div class="row text-center">
  <div class="col">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Next
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <h2 class="mt-3">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div routerLink="./day/{{ day.date | date:'yyyy-MM-dd' }}">
    <div class="cal-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <small style="margin: 5px;">Events: {{day.badgeTotal}}</small>
  </div>
</ng-template>
<mat-card>
  <mwl-calendar-month-view [viewDate]="viewDate" [refresh]="refresh" [events]="events"
    [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>
</mat-card>