mat-card-footer {
    margin-left: 0px;
    margin-bottom: -10px;   
}
mat-card-title span{
    position: absolute;
    top: 11px;
    right: 10px;
}

.mat-datepicker-input{
    height: 34px;
}

.cross-out-text {
    background: #ddd;
    text-decoration: line-through;
}

.category-dropdown{
    width: 180px; 
    height: 34px;
    line-height: 31px;
    padding-left: 5px;
    border: solid #ccc 1px
}