<h1>Calendar</h1>
<ng-template #customCellTemplate let-day="day" let-locale="locale" >
  <div routerLink="./day/{{ day.date | date:'yyyy-MM-dd' }}">
    <div class="cal-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <small style="margin: 5px;">Events: {{day.badgeTotal}}</small>
  </div>
</ng-template>
<mat-card>
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [refresh]="refresh"
    [events]="events"
    [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>
</mat-card>
